
@model ErgonomicsDatabase.Models.ViewModels.HomeViewModel

@section navItems {
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"><b>Home</b></a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Create" class="nav-link">Account</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a>
    </li>
}

@section head {
    <style>
        .btn-success {
            margin-top: 31px;
        }
    </style>
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#torque" role="tab" aria-controls="home" aria-selected="true">Torque</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#force" role="tab" aria-controls="profile" aria-selected="false">Force</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="torque" role="tabpanel" aria-labelledby="home-tab">
        <div class="row mt-3">
            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="HandleID">Handle Type</label>
                    <select class="custom-select" asp-for="HandleID" asp-items="@Model.Handles">
                        <option>All</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="PostureID">Posture</label>
                    <select class="custom-select" asp-for="PostureID" asp-items="@Model.Postures">
                        <option>All</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="">Rotations</label>
                    <select class="custom-select" asp-for="RotationID" asp-items="@Model.Rotations">
                        <option>All</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="">Hand</label>
                    <select class="custom-select" asp-for="HandID" asp-items="@Model.Hands">
                        <option>All</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="">Axis</label>
                    <select class="custom-select" asp-for="AxisID" asp-items="@Model.Axes">
                        <option>All</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <button class="btn btn-success">Filter</button>
            </div>
        </div>
        <hr />
        <table class="table table-bordered table-hover shadow-sm rounded" id="myTable">
            <thead class="thead-light">
                <tr>
                    <th>Object</th>
                    <th>Axis</th>
                    <th>Posture</th>
                    <th>Hand</th>
                    <th>Female Subjects</th>
                    <th>Male Subjects</th>
                    <th>Youngest Age</th>
                    <th>Oldest Age</th>
                    <th>Female Mean</th>
                    <th>Female SD</th>
                    <th>Male Mean</th>
                    <th>Male SD</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody class="tbody-white">
                @*<tr>
                    <td>Round knob</td>
                    <td>Vertical</td>
                    <td>Clockwise</td>
                    <td>Free</td>
                    <td>Dominant</td>
                    <td>9 Males</td>
                    <td>2-5</td>
                    <td>0.5</td>
                    <td>0.28</td>
                    <td>DTI-2002</td>
                </tr>
                <tr>
                    <td>Round knob</td>
                    <td>Vertical</td>
                    <td>Clockwise</td>
                    <td>Free</td>
                    <td>Dominant</td>
                    <td>7 Females</td>
                    <td>2-5</td>
                    <td>0.6</td>
                    <td>0.28</td>
                    <td>DTI-2002</td>
                </tr>
                <tr>
                    <td>Round knob</td>
                    <td>Horizontal</td>
                    <td>Clockwise</td>
                    <td>Free</td>
                    <td>Dominant</td>
                    <td>5 Males</td>
                    <td>6-10</td>
                    <td>1.31</td>
                    <td>0.53</td>
                    <td>DTI-2002</td>
                </tr>*@
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="force" role="tabpanel" aria-labelledby="profile-tab">
        <h3>Force</h3>
    </div>
</div>
